.postCard {
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    min-width: 400px;
    max-width: 400px;
    box-sizing: border-box;

    textarea {
        background-color: rgba(0,0,0,.1);
        border: none;
        min-height: 100px;
        padding: 15px;
    }

    .controls {
        margin-top: 1rem;
        align-items: center;
        
        button {
            background-color: #48BF84;
            border: none;
            color: white;
            padding: 10px 20px;
            font-weight: 700;
            float: right;
            margin-left: 10px;
            transition: background-color 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #1C7549
            }
        }
        .counter {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background-color: #48BF84;
            position: relative;
            margin-left: auto;
    
            &:after {
                width: 25px;
                height: 25px;
                content: "";
                position: absolute;
                left: 5px;
                top: 5px;
                background-color: white;
                border-radius: 50%;
            }
    
            &:before {
                width: 35px;
                height: 35px;
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                background-color: red;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
}